@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-success-50: oklch(0.979 0.021 166.113);
  --color-success-100: oklch(0.95 0.052 163.051);
  --color-success-200: oklch(0.905 0.093 164.15);
  --color-success-300: oklch(0.845 0.143 164.978);
  --color-success-400: oklch(0.765 0.177 163.223);
  --color-success-500: oklch(0.696 0.17 162.48);
  --color-success-600: oklch(0.596 0.145 163.225);
  --color-success-700: oklch(0.508 0.118 165.612);
  --color-success-800: oklch(0.432 0.095 166.913);
  --color-success-900: oklch(0.378 0.077 168.94);
  --color-success-950: oklch(0.262 0.051 172.552);

  --color-error-50: oklch(0.969 0.015 12.422);
  --color-error-100: oklch(0.941 0.03 12.58);
  --color-error-200: oklch(0.892 0.058 10.001);
  --color-error-300: oklch(0.81 0.117 11.638);
  --color-error-400: oklch(0.712 0.194 13.428);
  --color-error-500: oklch(0.645 0.246 16.439);
  --color-error-600: oklch(0.586 0.253 17.585);
  --color-error-700: oklch(0.514 0.222 16.935);
  --color-error-800: oklch(0.455 0.188 13.697);
  --color-error-900: oklch(0.41 0.159 10.272);
  --color-error-950: oklch(0.271 0.105 12.094);

  --color-warning-50: oklch(0.987 0.022 95.277);
  --color-warning-100: oklch(0.962 0.059 95.617);
  --color-warning-200: oklch(0.924 0.12 95.746);
  --color-warning-300: oklch(0.879 0.169 91.605);
  --color-warning-400: oklch(0.828 0.189 84.429);
  --color-warning-500: oklch(0.769 0.188 70.08);
  --color-warning-600: oklch(0.666 0.179 58.318);
  --color-warning-700: oklch(0.555 0.163 48.998);
  --color-warning-800: oklch(0.473 0.137 46.201);
  --color-warning-900: oklch(0.414 0.112 45.904);
  --color-warning-950: oklch(0.279 0.077 45.635);

  --color-info-50: oklch(0.977 0.013 236.62);
  --color-info-100: oklch(0.951 0.026 236.824);
  --color-info-200: oklch(0.901 0.058 230.902);
  --color-info-300: oklch(0.828 0.111 230.318);
  --color-info-400: oklch(0.746 0.16 232.661);
  --color-info-500: oklch(0.685 0.169 237.323);
  --color-info-600: oklch(0.588 0.158 241.966);
  --color-info-700: oklch(0.5 0.134 242.749);
  --color-info-800: oklch(0.443 0.11 240.79);
  --color-info-900: oklch(0.391 0.09 240.876);
  --color-info-950: oklch(0.293 0.066 243.157);

}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  ::-webkit-scrollbar {
    width: 4px;
  }

  .scrollbar-mini::-webkit-scrollbar {
    width: 3px;
  }

  ::-webkit-scrollbar-thumb {
    background: #51A2FF;
    border-radius: 10px;
  }

  ::-webkit-scrollbar-track {
    background: #E6E7EB;
  }

  .dark ::-webkit-scrollbar-track {
    @apply bg-zinc-700/70;
  }
}

button {
  cursor: pointer;
}

.sound-btn:active {
  background-position: calc(-129px * var(--scale-factor)) 0;
}

.sound-btn {
  --scale-factor: 0.849;
  width: calc(118px * var(--scale-factor));
  height: calc(97.5px * var(--scale-factor));
  background: url('/btns.avif') no-repeat,
    url('/btns.webp') no-repeat;
  background-size: calc(247px * var(--scale-factor)) calc(98px * var(--scale-factor));
  background-position: 0 0;
  border: none;
  cursor: pointer;
}

.mini-btn .sound-btn {
  --scale-factor: 0.5;
}

.btn-animation {
  animation: btn-anime 1.5s infinite linear;
}

@keyframes btn-anime {
  0% {
    filter: hue-rotate(0deg) brightness(125%);
  }

  50% {
    filter: hue-rotate(180deg) brightness(165%);
  }

  100% {
    filter: hue-rotate(360deg) brightness(125%);
  }
}

