@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  ::-webkit-scrollbar {
    width: 4px;
  }

  .scrollbar-mini::-webkit-scrollbar {
    width: 3px;
  }

  ::-webkit-scrollbar-thumb {
    background: #51A2FF;
    border-radius: 10px;
  }

  ::-webkit-scrollbar-track {
    background: #E6E7EB;
  }

  .dark ::-webkit-scrollbar-track {
    background: #27272A;
  }
}

button {
  cursor: pointer;
}

.sound-btn:active {
  background-position: calc(-129px * var(--scale-factor)) 0;
}

.sound-btn {
  --scale-factor: 0.849;
  width: calc(118px * var(--scale-factor));
  height: calc(97.5px * var(--scale-factor));
  background: url('/btns.avif') no-repeat,
    url('/btns.webp') no-repeat;
  background-size: calc(247px * var(--scale-factor)) calc(98px * var(--scale-factor));
  background-position: 0 0;
  border: none;
  cursor: pointer;
}

.mini-btn .sound-btn {
  --scale-factor: 0.5;
}

.btn-animation {
  animation: btn-anime 1.5s infinite linear;
}

@keyframes btn-anime {
  0% {
    filter: hue-rotate(0deg) brightness(125%);
  }

  50% {
    filter: hue-rotate(180deg) brightness(165%);
  }

  100% {
    filter: hue-rotate(360deg) brightness(125%);
  }
}


