@import "tailwindcss";

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

button{
  cursor: pointer;
}

.sound-btn:active {
  background-position: calc(-129px * var(--scale-factor)) 0;
}

.sound-btn {
  --scale-factor: 0.849;
  width: calc(118px * var(--scale-factor));
  height: calc(97.5px * var(--scale-factor));
  background: url('/btns.avif') no-repeat,
    url('/btns.webp') no-repeat;
  background-size: calc(247px * var(--scale-factor)) calc(98px * var(--scale-factor));
  background-position: 0 0;
  border: none;
  cursor: pointer;
}

.btn-animation {
  animation: btn-anime 1s infinite linear;
}

@keyframes btn-anime {
  0% {
    filter: hue-rotate(0deg);
  }

  50% {
    filter: hue-rotate(180deg);
  }

  100% {
    filter: hue-rotate(360deg);
  }
}

